body{
    font-family: sans-serif;
}

.header{
    background-color: black;
    color: white;
    text-align: left;
    height: 50px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}