body {
    background: #f8f9fa;
    margin: 0px;
}

a:link {
    text-decoration: none;
    text-align: center;
    padding: 20px 10px;
    outline: none;
}

a:visited {
    text-decoration: none;
    padding: 7px 10px;
}

a:hover {
    text-decoration: none;
    color: black;
    padding: 7px 10px;
}

a:active {
    text-decoration: none;
    padding: 7px 10px;
}

.header-nav {
    background-color: white;
    font-size: 22px;
    display: flex;
}

.nav-logo {
    padding: 22px;
}

.nav-ul{
    display: flex;
    list-style: none;
}

.nav-items {
    padding-right: 20px;
    padding-top: 5px;
}

.nav-ul-r{
    display: flex;
    list-style: none;
    margin-left: auto;
}

.nav-items-r {
    padding-right: 20px;
    padding-top: 5px;
    
}