body{
    background: #f8f9fa;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

a:link {
    text-decoration: none;
    padding: 7px 10px;
    outline: none;
}

a:visited {
    text-decoration: none;
    padding: 7px 10px;
}

a:hover {
    text-decoration: none;
    color: black;
    padding: 7px 10px;
}

a:active {
    text-decoration: none;
    padding: 7px 10px;
}
