body {
    background: #f8f9fa;
    margin: 0px;
}

a:link {
    text-decoration: none;
    text-align: center;
    padding: 20px 10px;
    outline: none;
}

a:visited {
    text-decoration: none;
    padding: 7px 10px;
}

a:hover {
    text-decoration: none;
    color: black;
    padding: 7px 10px;
}

a:active {
    text-decoration: none;
    padding: 7px 10px;
}

.header-nav {
    background-color: white;
}

.header-menu {
    padding: 20px;
}